*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    list-style:none;
    
}
:root{
    --grey: #ebe4e4;
    --Orange: #ff7d1a;
    --pale_orange: hsl(25, 100%, 94%);
}
body{
    font-family:'Kumbh Sans';
    margin: 0px;
    width: 100%;
}
.navbar_nav{
    display: flex;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 20px;
    align-items: center;
    flex-direction: space-between;
    margin-right: auto;
}
.nav_item:nth-child(2){
    margin-right: clamp(40px,40px,61px);
    font-weight: bolder;
    font-size: 30px;
}
.nav_link{
    margin: 10px;
    color: rgb(107, 102, 102);
    font-weight: lighter;
    font-size: 15px;
    opacity: 0.6;
}
.navbar{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 5px -4px var(--grey);
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
}
.avatar{
    height:50px;
    width:50px;
    margin-right: 25px;
    border: 2px solid var(--Orange);
    border-radius: 50%;
}
.cart_container{
    display: flex;
    justify-content: space-between;
}
.cart-icon{
    margin-top: 20px;
    margin-right: 40px;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    width: 100%;
    padding: 2px 5px;
}
.text_side{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0px;
    width: min(400px,100%);
}

.shoes{
    height: 500px;
    width: min(450px, 100%);
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 0px;
}
h5{
    color: var(--Orange);
    letter-spacing: 3px;
    font-weight: bolder;
}
h1{
    font-size: 30px;
    font-weight: 700px;
    margin-top: 10px;
}
.content{
    margin-top: 20px;
    font-size: 13px;
    word-spacing: 3px;
    color: rgb(107, 102, 102);
    margin-bottom: 20px;
    opacity: 0.6;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}
.percentage{
    border-radius: 5px;
    width: 60px;
    height: 30px;
    background-color: var(--pale_orange);
    text-align: center;
    line-height: 30px;
    color: var(--Orange);
    font-weight: bolder;
}
h6{
    font-weight: bolder;
    font-size: 12px;
    color: rgb(202, 191, 191);
    margin-bottom: 10px;
    text-decoration: line-through;
}
.add_cart{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.increase{
    display: flex;
    height:40px;
    width:150px;
    background-color: rgb(250, 245, 245);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    padding:0px 12px;
}
.items{
    opacity: 0.5;
}
.minus{
    padding-bottom: 7px;
}
.add_to_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Orange);
    width: min(200px, 100%);
    height: 40px;
    border-radius: 5px;
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 15px;
}
.add_to_cart .cart-icon{
    margin: 0px;
    margin-right: 10px;
    color: #f5f5f5;
}
.add_to_cart:hover{
    opacity: 0.6;
}
.items:hover{
    opacity: 0.6;
}
.tiny_shoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.tiny_shoes img{
    height:80px;
    width: 100px;
    border-radius: 5px;
}
.images{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav_link:hover{
    opacity: 1;
}
.tiny_shoes_images:hover{
    opacity: 0.5;
    border: 3px solid var(--Orange);
}
.nav_link::after{
    content: '';
    height: 2px;
    width: 100px;
    background-color: var(--Orange);
    bottom: -5px;
}
.backdrop{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    padding-bottom: 100px;
}
.backdrop_pix{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
}
.main_picture{
    width: min(450px, 100%);
    height: 400px;
    border-radius: 10px;
    z-index: 0;
}
.picture{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.preview_pix{
    display: flex;
    justify-content: space-around;
    left: 0;
    align-items: center;
    gap: 20px;
}
.close{
    color:var(--Orange);
    padding-left: 420px;
}
.close svg{
    width: 30px
}
.item_indicator{
    height: 20px;
    width: 20px;
    background-color: var(--Orange);
    border-radius: 22px;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: var(--pale_orange) ;
}
.checkout_items{
    position:absolute;
    display: flex;
    flex-direction: column;
    margin-left: 1000px;
    width: min(350px, 100vw);
    height: 200px;
    margin-top: 58px;
    background-color: #f5f5f5;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: none;
   
}
.cart_checkout{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bolder;
    box-shadow: 0 5px 5px -4px var(--grey);
}
.checkout_writing{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 15px;
}
.checkout_picture{
    margin-left: 15px;
    height: 50px;
    width: 50px;
    border-radius: 12px;
}
.big_picture{
    display: flex;
    position: relative;
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-top: 170px;
}
.checkout_button{
    width: 90%;
    height: 50px;
    background-color: #ff7d1a;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-weight: bolder;
    color: #f5f5f5;
}
.delete{
    margin-top: 25px;
    margin-right: 20px;
}

.checkout_content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    color: rgb(163, 158, 158);
}
.total_amount{
    font-weight: bolder;
    color: #000000;
}

.icon > svg :hover{
    stroke: #ff7d1a;
}
.nav-toggle{
    margin: 10px 10px 0px 5px;
    display: none;
}

.hamburger-menu{
    background-color: #f5f5f5;
    width: min(50%, 250px);
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100vh;
    gap: 45px;
    display: none;
}
.close-menu{
    margin:10px 0px 40px 30px;
}
.hamburger-item{
    margin:10px 0px 30px 30px;
    text-decoration: none;
}
.ham_link{
    font-weight: bolder;
    font-size: clamp(10px, 15px, 20px);
    color:#000000;
}
.substitute{
    display: none;
   
}




@media screen and (max-width: 600px){
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 0px;

    }
    .tiny_shoes{
        display: none;
    }
    .text_side{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 20px;
        margin-left: 15px;
        padding: unset;
    }
    .nav-toggle{
        display: block;
    }
    .nav_link{
        display: none;
    }
    .shoes{
        display: none;
    }

    .substitute{
        display: block;
        margin-top: 20px;
    }
    .main_picture{
       width: 100%;
        
    }
    .icon{
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-left: 5px;
        gap: 325px;
    }
    
    .wrapper-container{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .add_cart{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .add_to_cart{
        width: 100%;
        margin-left: 10px;
    }
    .increase{
        width: 100% ;
    }
    .icon :hover{
        stroke: #000000;
    }
    .next{
        margin-bottom: 15px;
    }
    .checkout_items{
        margin-top: 80px;
        margin-left: 0px;
        width: 100%;
        height: 50vh;
    }
    .cart_checkout{
        padding-top: 10%;
        margin-bottom: 10%;
    }
    .checkout_writing{
        gap: 10px;
        margin-bottom: 10%;
    }
    .checkout_content{
        font-size: min(20px, 16px);
    }
    .navbar_nav{
        padding-bottom: 0px;
    }
}